<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Kwamboka's Gallery</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Location
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for location in location %}
            <a class="dropdown-item" href="/?location={{location.id}}">{{location.location}}</a>
            {%endfor%}
          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/search/?categories=food" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/search/?categories=food">Food</a>
            <a class="dropdown-item" href="/search/?categories=culture">Culture</a>
            <a class="dropdown-item" href="/search/?categories=nature">Nature</a>
          </div>
        </li>

      </ul>
      <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 navbar-right">
  
        <form class="navbar-form" role="search" action="{% url 'search_results' %}">
  
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by category i.e food,nature,culture" name="categories">
            <br><br>
          </div>
  
        </form>
      </div>
      <!-- search form end -->
    </div>
  </nav>